<div class="container" style="border: solid;border-radius: 24px;padding: 5%;margin-top:5%;margin-bottom:5%;">
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Pseudo</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="firstname" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" id="age" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Sexe</label>
            <select class="form-select" aria-label="Default select example" id="gender">
                <option value="1">Femme</option>
                <option value="2">Homme</option>
                <option value="3">Autres</option>
              </select>
          </div>

        <div class="mb-3">
            <label for="mail" class="form-label">Mail</label>
            <input type="email" class="form-control" id="mail" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmer Votre Mot de passe</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <button type="button" class="btn btn-primary" onclick="creationController.register()">Submit</button>
    </form>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="success" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Compte créé
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-50" style="z-index: 11">
    <div id="error" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Information(s) manquante(s)
        </div>
    </div>
</div>
