<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><span style="color: #2a638b;">Best</span><span style="color: #d43d38;">Date</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" onclick="navigate('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="navigate('personnes')">My profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="navigate('partage')">Posts</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" onclick="navigate('connect')">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="">
        <h1>My dated peoples</h1>
        <button id="openModal" type="button" class="btn btn-primary" onclick="personnesController.openModal()">
            New people
        </button>
    </div>
    <div class="d-flex justify-content-center" id="personnes">
        <table class="table-responsive" style="margin-top:2%;width: 100%;">
            <thead style="background-color: #2a638b; height: 50px;">
                <tr style="text-align: center;">
                    <th scope="col">Name</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Gender</th>
                    <th scope="col"><i class="bi bi-trash"></i></th>
                    <th scope="col"><i class="bi bi-pencil"></i></th>
                </tr>
            </thead>
            <tbody id="personne">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New people</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name</label>
              <input type="text" class="form-control" id="name-personne">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Firstname</label>
                <input type="text" class="form-control" id="firstname-personne">
              </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Date</label>
              <input type="date" class="form-control" id="date-personne"></input>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" aria-label="Default select example" id="gender">
                    <option value="1">Women</option>
                    <option value="2">Men</option>
                    <option value="3">Others</option>
                  </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="validButton"type="button" class="btn btn-primary" onclick="personnesController.createPersonne()">Add people</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modify informations</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="d-none" id="hiddenId"></div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name</label>
              <input type="text" class="form-control" id="name-update">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Firstname</label>
                <input type="text" class="form-control" id="firstname-update">
              </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Date</label>
              <input type="date" class="form-control" id="date-update"></input>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" aria-label="Default select example" id="gender-update">
                    <option value="1">Women</option>
                    <option value="2">Men</option>
                    <option value="3">Others</option>
                  </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="validButton"type="button" class="btn btn-primary" onclick="personnesController.updatePersonne()">Modify informations</button>
        </div>
      </div>
    </div>
</div>



  <div class="position-fixed bottom-0 end-50" style="z-index: 11">
    <div id="success" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Person add
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-50" style="z-index: 11">
    <div id="error" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Missing information(s)
        </div>
    </div>
</div>
